@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--foreground-rgb);
  background: var(--background-end-rgb);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  text-align: center;
  line-height: 20px;
  font-size: 48px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  @apply rounded-full px-10
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}


